 body {
      background-color: black;
	 color: white;
	 font-family: Courier;
  }

h1 {
  Color: white;
  font-size: 50px;
}

#pink { 
	color: #D85AC1;

}

#yellow {
	color:yellow;

}

.images {
	border: 2px dashed white;
}
